* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", serif;
}

.content {
    display: flex;
}

:root {
    --text-white: #ffffff;
}

label {
    color: var(--text-white);
}

.head h1{
    color: var(--text-white);
    font-size: 3rem;
    text-align: center;

}
.head{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    position: relative;
}
.switchTheme{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center ;
    align-items: center;
    position: absolute;
    right: 3%;
}
.head svg{
    height: 70%;
    /* background-color: rgb(0, 255, 255); */
    /* position: absolute; */
    right: 1%;
    filter: invert(100%);
    border: 0.1em solid rgb(0, 0, 0);
    border-radius: 50%;
    padding: 2%;
}

.head svg:hover{
    cursor: pointer;
}
.detailsForm {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
    width: 50vw;
    margin: auto;
    border: 0.3em solid rgb(255, 255, 255);
    padding: 1%;
    border-radius: 0.5em;
    margin-top: 2%;
}

.detailsForm .submitButton {
    width: 10%;
    border: none;
    background-color: rgb(255, 255, 255);
    border-radius: 0.5em;
    display: flex;
    align-items: center;
    justify-content: center;
}



.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.submitButton:hover {
    cursor: pointer;
    background-color: rgb(115, 115, 115);
    color: white;
}

.detailsForm * {
    padding: .5%;
    margin: .25%;
}

body {
    background: radial-gradient(circle, #121212, #333333);
    /* background: rgb(162, 0, 255); */
    height: 100vh;
}
.head h3{
    color: var(--text-white);
    font-size: 0.5em;
    /* position: absolute; */
    /* right: 2%; */

}

.Top {
    margin-top: 1%;
}

.Top h1 {
    font-size: 2rem;
    color: var(--text-white);
    text-align: center;
}

.Top h2 {
    color: var(--text-white);
    text-align: center;
}


.playlist {
    border: 0.3em solid white;
    border-radius: 0.5em;
    margin: auto;
    margin-top: 2%;
    width: 40vw;
    height: auto;
    display: flex;
    flex-direction: column;
}

.video {
    height: 15vh;
    border: 0.1em solid white;
    border-radius: 0.15em;
    color: var(--text-white);
    margin: 1%;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: "1.5fr 1fr 1fr";
    grid-template-areas: "thumbnail title title"
        "thumbnail title title"
        "thumbnail details details";
}

.playlist h2 {
    color: var(--text-white);
    text-align: center;
    padding: 2%;
}

.thumbnail {
    grid-area: thumbnail;
    padding: 2%;
    border-radius: 0.15em;
}

.thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.title {
    grid-area: title;
}

.details {
    grid-area: details;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 5%;
    font-size: 0.7em;
}

.darkTheme{
    background: radial-gradient(circle, #ffffff, #fdf0f0);
}
@media (max-width: 480px) {

    /* Styles for devices with a screen width of 480px or less (e.g., small phones in portrait mode) */
    .content {
        flex-direction: column;
    }

    .detailsForm {
        width: 80vw;
    }

    .playlist {
        /* flex: 1; */
        width: 80vw;
    }
    .video{
        height: 12vh;
    }
}
