* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", serif;
}

.content {
    display: flex;
}

:root {
    --text-white: #ffffff;
}

label {
    color: var(--text-white);
}

input {
    /* background-color: blueviolet;
    border: none; */
}

.placeStyle::placeholder {
    /* font-family: "Montserrat", serif; */
    /* font-size: 2em; */
    /* color: rgb(0, 255, 170); */
}

.detailsForm {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
    width: 50vw;
    margin: auto;
    border: 0.3em solid whitesmoke;
    padding: 1%;
    border-radius: 0.5em;
    margin-top: 2%;
}

.detailsForm .submitButton {
    width: 10%;
    border: none;
    background-color: rgb(255, 255, 255);
    border-radius: 0.5em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.detailsForm .submitButton {
    /* padding: 1% 10%; */
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.submitButton:hover {
    cursor: pointer;
    background-color: rgb(115, 115, 115);
    color: white;
}

.detailsForm * {
    padding: .5%;
    margin: .25%;
}

body {
    /* background: rgb(172,167,175); */
    background: radial-gradient(circle, #121212, #333333);
    height: 100vh;
}

.Top {
    margin-top: 1%;
}

.Top h1 {
    font-size: 2rem;
    color: var(--text-white);
    text-align: center;
}

.Top h2 {
    color: var(--text-white);
    text-align: center;
}


.playlist {
    border: 0.3em solid white;
    border-radius: 0.5em;
    margin: auto;
    margin-top: 2%;
    width: 40vw;
    height: auto;
    display: flex;
    flex-direction: column;
}

.video {
    height: 15vh;
    border: 0.1em solid white;
    border-radius: 0.15em;
    color: var(--text-white);
    margin: 1%;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "thumbnail title title"
        "thumbnail title title"
        "thumbnail details details";
}

.playlist h2 {
    color: var(--text-white);
    text-align: center;
    padding: 2%;
}

.thumbnail {
    grid-area: thumbnail;
    padding: 2%;
    border-radius: 0.15em;
}

.thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.title {
    grid-area: title;
}

.details {
    grid-area: details;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 5%;
    font-size: 0.7em;
}

@media (max-width: 480px) {

    /* Styles for devices with a screen width of 480px or less (e.g., small phones in portrait mode) */
    .content {
        flex-direction: column;
    }

    .detailsForm {
        width: 80vw;
    }

    .playlist {
        flex: 1;
        width: 80vw;
    }
}
